<script type="text/template" id="notauth">
<div data-role="content" >
					<div id="logo">
		 			</div>
                    <div class="mbc-feedback-error ui-corner-all" style="border: 1px solid;margin: .5em auto;padding: 0 .5em;">
					<p>It looks like you would like additional information about Event-Link. Event-Link is designed to allow dray carriers and trucking providers to send event information for load that they are carrying using a mobile device. Please give us a call at 1-800 877-1238 and we'll help get you set up today</p>
					</div>
        			<div align="center"><a id="btnLogout" name="logout"   data-role="button" data-inline="true" >Logoff</a></div>  
        		
</div>
</script>
<script type="text/template" id="">
</script>

