<script type="text/template" id="header">
<div data-role="header" id="header">
        <h1 id="headertext"></h1>
</div>
</script>
<script type="text/template" id="footer" >
 <div data-role="footer" data-tap-toggle="false">
    <p id="footer"></p>
</div>
</script>


<script type="text/template" id="home-header">
<div data-role="header" id="header">
        <h1 id="headertext"></h1>
		<a id="btnLogout" class="ui-btn-right headerButton" data-mini="true">LOGOFF</a>
	
</div>
</script>

<script type="text/template" id="all-header">
<div data-role="header" id="header" >
	    <a href="#" class="back headerButton" data-mini="true"  data-backbtn="false" >PREV</a>
        <h1 id="headertext"></h1>
        <a href="#home" data-mini="true" class="headerButton" >HOME</a>
   
</div>
</script>

